[Unit]
Description=how-to-microservice service

[Service]
EnvironmentFile=-/etc/sysconfig/how-to-microservice
ExecStart=/opt/how-to-microservice/bin/how-to-microservice
User=howtomicroservice
Restart=on-failure

[Install]
WantedBy=multi-user.target

